<!DOCTYPE html>

<html lang="fa">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/css/account.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div>
            @RenderBody()
        </div>
    </div>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/jquery-3.6.0.js"></script>
</body>
</html>
