@model DigiKala.Core.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "تغییر کلمه عبور";
    Layout = "~/Views/Shared/_Account.cshtml";
}


<h4 class="text-center">تغییر کلمه عبور حساب در دیجی کالا</h4>

<hr />

<form asp-action="ResetPassword">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="Mobile" class="form-control mt-2" placeholder="شماره موبایل" hidden />
        <span asp-validation-for="Mobile" class="text-danger validation-error"></span>
    </div>
    <div class="form-group">
        <input asp-for="ActivationCode" class="form-control mt-2" placeholder="کد تایید" />
        <span asp-validation-for="ActivationCode" class="text-danger validation-error"></span>
    </div>
    <div class="form-group">
        <input asp-for="Password" class="form-control mt-2" placeholder="کلمه عبور جدید" />
        <span asp-validation-for="Password" class="text-danger validation-error"></span>
    </div>
    <div class="form-group">
        <input asp-for="ConfirmPassword" class="form-control mt-2" placeholder="تایید کلمه عبور" />
        <span asp-validation-for="ConfirmPassword" class="text-danger validation-error"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="تغییر کلمه عبور" class="btn btn-primary btn-lg btn-block btn-submit mt-2" />
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
